<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Estudiante</title>
</head>
<body>

<h1>Agregar Estudiante</h1>

<form method="POST">
    {% csrf_token %}

    <label>Documento:</label><br>
    <input type="text" name="documento" required>

    <br><br>

    <label>Nombre:</label><br>
    <input type="text" name="nombre" required>

    <br><br>

    <label>Apellido:</label><br>
    <input type="text" name="apellido" required>

    <br><br>

    <label>Curso:</label><br>
    <input type="text" name="curso" required>

    <br><br>

    <button type="submit">Guardar Estudiante</button>

</form>

<br>

<a href="{% url 'estudiantes' %}">
    <button>Volver</button>
</a>

</body>
</html>